<!-- <div style="text-align: center;margin-top: 100px;">
<h1>Child Componant</h1><br>
<button class="btn btn-lg btn-outline-dark" style="font-weight: bold;" routerLink="/pop-up-parent" (click)="open(mymodal)">Open In Parent</button>
   
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Parent Componant</h4>
    <button type="button" style="font-weight: bold;" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">x</span>
    </button>
  </div>
  <div class="modal-body">
    This is example of Model PopUp
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" style="font-weight: bold;" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>
</div> -->